
1. Calculate the circumference of a circle of a given radius

In [33]:
# Calculate the area and circumference of a circle of given radius

# Step 1: Request user input for value of radius

import math
# Alternatively, if you know exactly what variable/function from the module you will be using, execute this:
from math import pi

radius_str = input("Enter the radius of your circle: ")
radius_float = float(radius_str)

# Step 2: Apply the circumference and area formulas

circumference = 2 * math.pi * radius_float
area = math.pi * (radius_float ** 2)

# Step 3: Print the results

print("\nThe circumference of your circle is: ", circumference, "\nand the area of the given circle is: ", area)
#Alternatively, you can say this:
print("\nThe circumference and area of your circle are: ", circumference, "and", area, ", respectively.")

Enter the radius of your circle:  9

The circumference of your circle is:  56.548667764616276
and the area of the given circle is:  254.46900494077323

The circumference and area of your circle are:  56.548667764616276 and 254.46900494077323 , respectively.


2. Choosing precision

In [35]:
# FLOORING using int() truncates the floating point number
print(int(area))

254

In [37]:
# Rounding is better
print(round(area))

# The round function also takes precision as an argument
print(round(area,2))

254
254.47

3. Strings

In [43]:
# Single words
"Hello"

'Hello'

In [45]:
# Phrases or sentences
type('There are 7 days a week')

str

In [47]:
# Using double quotes is better. Example below will return an error due to the apostrephe in I'm
# 'I'm trying to discuss the string data type'

In [106]:
# Immutability
s = "the_string_data_type"
#s[3] = '!'

4. Indexing / Slicing

In [60]:
greeting = "Hello_world!"

len(greeting)

12

In [68]:
# --- INDEXING ---

# Indexing in Python begins from 0, not 1
print(greeting[0])

# print(greeting[12])
# ^ will fail as index 12 would be character 13, which does not exist in the string

print(greeting[11])

H
!

In [80]:
# --- SLICING ---

# This begins with the THIRD element of the string and stops before the SIXTH
print(greeting[2:5])

# Everything up to but NOT INCLUDING the SEVENTH element
print(greeting[:6])

# Starts from greeting[4] which is the FIFTH element in the string
print(greeting[4:])

llo
Hello_
o_world!

In [98]:
# --- NEGATIVE INDICES ---

# Grabs the last element in the string, and grabs the third-to-last element
print(greeting[-1])
print(greeting[-3])

# Grabs everything BUT the last element, and then everything but the last THREE elements
print(greeting[:-1])
print(greeting[:-3])

# Starts from the last element in the string, and then starts from the third-to-last element
print(greeting[-1:])
print(greeting[-3:])

!
l
Hello_world
Hello_wor
!
ld!

In [102]:
# --- INDEX & SLICE NOTATION ---

print(greeting)


# [Start : Stop : Step]
# Starts at Index 1, Up to but not including Index 9, Display every 2 indexes

print(greeting[1:9:2])

# Hello_world!
#  e l _ o
# 01234567891011

Hello_world!
el_o

In [109]:
# This will start and return the string backwards
print(greeting[::-1])

!dlrow_olleH

In [117]:
# This does the same indexing and slicing as in the previous example, but backwards using negative steps
print(greeting[9:1:-2])

lo_l

String Properties

In [125]:
str1 = "This is"
str2 = "CS 521"

print(str1 + " " + str2)

This is CS 521

In [131]:
name = input("Enter your name: ")
text_to_print = "\nWelcome to BU, " + name

print(text_to_print)

Enter your name:  Alexander

Welcome to BU, Alexander

In [133]:
laugh = "ha"

print(laugh * 10)

hahahahahahahahahaha

String Methods

In [136]:
# --- Basic Built-in String Methods ---

# Methods are called with a period and then the method name: Ex. object.method(parameters)

In [144]:
simple_string = 'all lower case letters'

simple_string.upper()
#simple_string.title()

'ALL LOWER CASE LETTERS'

In [156]:
# This method separates based on a space / white space"
simple_string.split()

['all', 'lower', 'case', 'letters']

In [158]:
# Using the parameter field to specify what value to separate on (in this case, 'e')
simple_string.split('e')

['all low', 'r cas', ' l', 'tt', 'rs']

Print Formatting

In [165]:
# F-string literals are a way to embed expressions inside string literals using curly brace { } in Python
# Essentially formats the string and allows you to include variables within the string

name = "Alexander"
age = 23

# Using an f-string, assigning to a variable, and printing
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)

# Alternatively, you can just using it directly in the print statement.
print(f"\nHello, my name is {name} and I am {age} years old.")

Hello, my name is Alexander and I am 23 years old.

Hello, my name is Alexander and I am 23 years old.

Question

In [ ]:
# Write a program to request a user's height (in meters) and weight (in kilograms) and print their BMI.
# Use f-string literals to format your output to the user.

In [ ]:
# BMI = weight in kilograms / (height in meters ** 2)
# W / H**2

In [204]:
# BMI Calculator

height = round(float(input("Enter your height in meters: ")), 2)
weight = round(float(input("Enter your weight in kilograms: ")), 2)

BMI = round(weight / (height ** 2), 2)

print(f"\nGiven a height of {height} meters and a weight of {weight} kilograms,\nyour body mass index (BMI) is {BMI}.")

Enter your height in meters:  1.8
Enter your weight in kilograms:  72.6

Given a height of 1.8 meters and a weight of 72.6 kilograms,
your body mass index (BMI) is 22.41.

MAJOR TOPIC 2 -- LISTS

In [215]:
# Lists are constructed with brackets [ ] and comma separated values (including nested lists)

my_list = ["Hello", 3.75, 1, [2, 3]]

# This calls the first index of the list
print(my_list[0])

# This calls the second index of the list and so on
print(my_list[1])
print(my_list[2])
print(my_list[3])

print(f"The length of the list is still = {len(my_list)} because the last element is counted as only one element")

Hello
3.75
1
[2, 3]
The length of the list is still = 4 because the last element is counted as only one element

In [221]:
# Nested lists: lists containing lists

nested_list = [[2, 1.2, 0], [-1, 3.75]]
len(nested_list)

2

In [223]:
# Lists are mutable

print(my_list)

# Changing an element within the list
my_list[2] = True

print(my_list)

['Hello', 3.75, 1, [2, 3]]
['Hello', 3.75, True, [2, 3]]

In [225]:
# --- INDEXING & SLICING LISTS ---

print(len(my_list))

4

In [227]:
my_list

['Hello', 3.75, True, [2, 3]]

In [229]:
my_list[2:]

[True, [2, 3]]

In [231]:
new_list = ['one', 'two', 'three', 4, 5]

new_list[::-1]

[5, 4, 'three', 'two', 'one']

In [237]:
# Reassign a value

new_list = new_list + ['extra value to list']

new_list

['one', 'two', 'three', 4, 5, 'extra value to list']

In [239]:
# --- BASIC LIST METHODS ---

# append(), pop(), and sort()

In [251]:
# Append() adds a value to the END of the list -- always to the end

empty_list = []

empty_list.append(3)

empty_list.append([2,3,5])

print(empty_list)

[3, [2, 3, 5]]

In [253]:
# Pop() removes and returns the last item in the list

empty_list.pop()

[2, 3, 5]

In [255]:
# Now check your list -- it should have one less element

empty_list

[3]

In [257]:
a = [1, 2, 3, 4, 5]

# Pops the third index element
a.pop(2)

3

In [261]:
# "3" should be missing
a

[1, 2, 4, 5]

In [263]:
# Sort() organizes the list based on a value or parameter. With text, default is A-Z

b = ['a', 'e', 'c', 1, 'b']

# Can only sort items of the same type
b.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [271]:
b = ['a', 'e', 'c', 'b']

b.sort()

b

['a', 'b', 'c', 'e']

In [273]:
# --- NESTING LISTS ---

row1 = [1, 2, 3]
row2 = [4, 5, 6]
row3 = [7, 8, 9]

nested_list1 = [row1, row2, row3]
nested_list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [275]:
# Print the first index element of the second index element.
# nested_list1[nested_list1's index 2][index 2's index 1]

print(nested_list1[1][0])

4

In [318]:
# Same method but backwards inside index 2

print(nested_list1[1][-1])

6

Question

In [ ]:
# Given a list attendance = [['ALICE', 'bob', 'CHARLES'], [20, 35, 15]]
# print the list while also capitalizing the 2nd name.

In [341]:
attendance = [['ALICE', 'bob', 'CHARLES'], [20, 35, 15]]

# Use the upper() method on the value on the second index element of the first index element

attendance[0][1] = attendance[0][1].upper()

attendance

[['ALICE', 'BOB', 'CHARLES'], [20, 35, 15]]

MAJOR TOPIC 3 -- TUPLES

In [288]:
# Tuples are very similar to lists, with the one condition that they are IMMUTABLE
# Ex. a matric cannot have its dimensions altered, so that is a use case for tuples

# Tuples are constructed using paratheses ( ) and comma separated values

t = ("a", 2, 3.75, 4, "string", 6)

print(t[4])

print(t[::-1])

# These features work the same as lists

string
(6, 'string', 4, 3.75, 2, 'a')

In [290]:
# Tuples cannot be changed. They are IMMUTABLE.
# Both of these lines will produce an error:

t.append(52)
t[0] = 'c'

AttributeError: 'tuple' object has no attribute 'append'

In [294]:
# However, you can easily convert a tuple into a list. Then, it becomes mutable and can be changed.

tuple_to_list = list(t)

type(tuple_to_list)

list

In [300]:
# --- BASIC TUPLE METHODS ---
# index() and count()

t

('a', 2, 3.75, 4, 'string', 6)

In [304]:
# Index() returns the FIRST index of a certain value. Raises ERROR if not present in tuple

# This value is found in index 2

t.index(3.75)

2

In [312]:
# Count() returns the number of occurances of the input

r = (1, 2, 3, 3, 3, 4, 5, 4, 4, 5, 6)

print(r.count(3))

print(r.count(6))

print(r.count(7))

3
1
0

In [316]:
# This functions the same as in lists. Searching for the 2nd index element within the 1st index element

n = ((1, 2, 3), (4, 5, 6))

n[1][2]

6

FINAL COMMENTS

PEP-8: Naming Rules for Variables & Functions

1. Cannot start with a number
2. Cannot contain spaces (use underscores instead)
3. Cannot have escape characters or symbols like the following : " ' , < > ? @ # .
4. Only use lowercase characters (ex. variable, my_list, snake_casing)

"Pascal Casing"
- Begins with a Capital letter and the rest is lowercase (ex. Pascal, Object, etc.)--this is for objects only.
- Repeated for every word in a compound name (ex. CompoundPascalCasing, ObjectObject, etc.)